<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chat Interface</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="app">
        <header class="header">
            <h1 class="page-title">炼丹炉</h1>
        </header>
        <div class="button-container">
            <button id="marquee-button" @click="navigateTo('ChatMemoindex.html')">Go to ChatMemo</button>
        </div>

        <div class="modal" v-if="showModal">
            <div class="modal-content">
                <img src="zhuyi.png" style="max-width: 160px;" alt="注意" class="modal-image">
                <p>连续上下文为模拟操作，可能回答不准确。</p>
                <button @click="disableContext" style="height: 30px; width: 120px;">关闭上下文功能</button>
                <button @click="closeModal" style="height: 30px; width: 120px;">知道啦知道啦</button>
            </div>
        </div>

        <div class="model-selection-container">
            <label for="modelSelection">选择模型：</label>
            <select id="modelSelection" v-model="selectedModel">
                <option value="model-1" selected>公积金专员</option>
                <option value="model-2">Qwen-7B-Chat</option>
                <option value="model-3">MPT-7B</option>
            </select>
            <del><label for="contextSize">上下文长度：</label></del>
            <input type="number" id="contextSize" v-model.number="contextLength" min="1" max="10" value="1" readonly>
        </div>

        <div class="chat-container">
            <div v-for="(message, index) in messages" :key="index"
                :class="{'message-right': message.type === 'question', 'message-left': message.type === 'answer' || message.type === 'current'}">
                <div class="message-content">{{ message.text }}</div>
            </div>
        </div>

        <div class="input-container">
            <div id="box">{{ translatedText }}</div>
            <input type="text" v-model="newQuestion" @keyup.enter="sendQuestion" placeholder="Type a question..."
                ref="questionInput">
            <button @click="sendQuestion" :disabled="sending" :class="{ 'button-disabled': sending }">Send</button>
            <span v-show="sending" class="replying-label"></span>

            <div v-if="recordershowModal" class="recordershowModal">收声中...</div>
            <button @click="toggleRecording">
                {{ isRecording ? '结束收声' : '按下收声' }}
            </button>
            <button @click="playRecord" :class="{'disabled': !hasRecording}"
                :disabled="!hasRecording">播放录音-{{recordingDuration}}s</button>
        </div>
    </div>

    <!--<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>-->
    <script src="vue@2.js"></script>
    <script src="app.js"></script>
    <script src="recorder.js"></script>
</body>

</html>